#outer

{
height:1240px;
width:1000px;
//border:1px solid white;
margin:0px auto;
}
body
{
color:#808080;
background-color:#4F7942;
}
#nav
{
height:50px;
width:1000px;
background-color:white;
border:1px solid white;
border-radius:20px 20px 0px 0px;
}
#nav ul
{
list-style-type:none;
margin-left:230px;
}
#nav ul li 
{
display:inline;
//border:1px solid;
padding:15px;
font-family:calibri;
}
#nav ul li a
{
color:black;
text-decoration:none;
}
#nav ul li a:hover
{
color:green; 
}
#slider
{
height:250px;
width:1000px;
background-color:white;
margin-top:5px;
background-image:url('../images/s.png');
background-repeat:no-repeat;
background-size:cover;
}
#papa
{
height:640px;
width:1000px;
//border:1px solid white;
margin-top:5px;
}
#left
{
height:640px;
width:700px;
background-color:white;
border-radius: 0px 0px 0px 20px;
text-align:justify;
float:left;
}
#d
{
height:350px;
width:650px;
//background-color:pink;
text-align:justify;
margin-left:40px;
}
#b
{
height:220px;
width:600px;
//background-color:black;
text-align:justify;
margin-left:40px;
}
#c
{
height:30px;
width:650px;
//background-color:black;
text-align:justify;
margin-left:40px;
}

#d a
{
color:green;
}
#b a
{
color:green;
}
#photo
{
height:200px;
width:650px;
background-image:url('../images/chi.png');
}
#content
{
height:540px;
width:690px;
//border:1px solid white;
margin-left:5px;
}
#about
{
height:120px;
width:690px;
background-color:white;
text-align:justify;
margin-left:5px;
}
#mission
{
height:120px;
width:690px;
background-color:white;
text-align:justify;
margin-left:5px;
}
#why
{
height:320px;
width:690px;
background-color:white;
text-align:justify;
margin-left:5px;
}
#box
{
height:600px;
width:700px;
background-color:white;
margin-left:40px;
}
#form
{
height:300px;
width:400px;
margin-top:150px;
margin-left:150px;

}

#right
{
height:640px;
width:300px;
background-color:#E8E8E8;
border-radius:0px 0px 20px 0px;
float:right;
}
#x
{
height:640px;
width:250px;
margin:40px;
}
#footer
{
height:270px;
width:1000px;
background-color:white;
border-radius: 20px;
margin-top:20px;
}
#aa
{
height:250px;
width:300px;
margin-top:10px;
//background-color:black;
margin-left:25px;
float:left;
}
#img
{
height:170px;
width:250px;
//background-color:black;
background-image:url('../images/ss.png');
background-repeat:no-repeat;
background-six:cover;
float:left;
}
#bb
{
height:250px;
width:300px;
//background-color:black;
margin-top:10px;
margin-left:25px;
float:left;
}
#bb a
{
color:green;
}
#cc
{
height:250px;
width:300px;
//background-color:black;
margin-left:25px;
margin-top:10px;
float:left;
}
#cc a
{
color:green;
}